.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  height: fit-content;
  min-height: 100vh;
}

.background {
  position: fixed;

  width: 100vw;
  height: 100vh;

  transition: background-color 2s ease;
}

.background.day {
  background-color: rgb(170, 200, 255);
}

.background.night {
  background-color: rgb(30, 30, 30);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
