.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.Main-image {
  width: 700px;
  height: 300px;

  border: 5px solid rgb(150, 255, 180);
  border-radius: 10px;
  box-sizing: border-box;

  margin: 10px 0px;
}

.Main-search {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  border: 5px solid rgb(150, 255, 180);
  border-radius: 10px;
  box-sizing: border-box;

  margin-bottom: 15px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: rgb(190, 255, 230);

  border: none;
  border-radius: 5px;

  cursor: pointer;

  margin: 0px 5px;
  transition: all 0.3s;
}

.search-button:hover {
  background-color: aquamarine;
  border-radius: 20px;
}

.search-input {
  width: 200px;
  height: 23px;

  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

.search-input:focus {
  border: 2px solid rgb(190, 255, 230);
  animation: search-input-focus 1s infinite;
}

@keyframes search-input-focus {
  0% {
    border-color: rgb(0, 0, 255);
  }
  25% {
    border-color: rgb(125, 0, 125);
  }
  50% {
    border-color: rgb(255, 125, 0);
  }
  75% {
    border-color: rgb(125, 255, 125);
  }
  100% {
    border-color: rgb(0, 125, 255);
  }
}

.Main-contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100%;

  box-sizing: border-box;
}

.Main-contents > .content {
  width: 200px;
  height: 200px;

  border: 5px solid rgb(150, 255, 180);
  border-radius: 10px;
  box-sizing: border-box;

  margin: 10px;
}
